name: Docker Compose Actions Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: docker hub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
      - name: Startup Jira and Insight
        run: docker-compose up -d
      - name: Wait for Jira and Insight
        run: ./scripts/waitingForJira.sh
      - name: Build and Test library
        run: ./gradlew test install --info
      - name: Build and Test confluence library
        run: mvn clean -f kotlin-jira-wrapper-atlas-test/pom.xml -B verify -Dbaseurl=http://localhost:1990